// clearfix
@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

// main-content
$content-right-margin: 190px 0 0 auto;
$content-left-margin: 190px 0 0 0;

@mixin content($margin, $direction, $content-name) {
  max-width: calc(1920px - (360px + (1920px - 100vw) / 2));
  background-color: #fff;
  margin: $margin;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.16);
  position: relative;

  @media screen and (max-width: 1024px) {
    //  max-width: calc(1785px - (360px + (1920px - 100vw) / 2));
    width: calc(100vw - 20 / 768 * 100vw);
  }

  &::before {
    content: "";
    width: 1240px;
    height: 65%;
    position: absolute;
    bottom: -90px;
    #{$direction}: -60px;
    background: rgba(138, 224, 242, 0.6);
    z-index: -2;

    @media screen and (max-width: 1024px) {
      //  width: 63.54167vw;
      // bottom: -10.41667vw;
      #{$direction}: -2.60417vw;
    }
  }

  &::after {
    content: $content-name;
    font-size: 15rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: rgba(70, 201, 229, 0.1);
    mix-blend-mode: multiply;
    font-family: "Noto Serif", "Merriweather", "Helvetica", "Arial", sans-serif;
    position: absolute;
    bottom: -65px;
    #{$direction}: 10px;

    @media screen and (max-width: 1024px) {
      font-size: 14rem;
    }
  }
}

$left-inner-margin: 0 0 0 auto;
$right-inner-margin: 0 auto 0 0;

@mixin content-inner($margin, $padding-bottom) {
  max-width: 1200px;
  margin: $margin;
  padding: 0 80px $padding-bottom;
  @media screen and (max-width: 1024px) {
    padding: 0 30px 160px;
  }
}

// title,heading
@mixin title-container {
  padding-top: 75px;
}

@mixin section-title($left, $right) {
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: 0.3rem;
  position: relative;
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 60px;
    height: 4px;
    background-color: #46c9e5;
  }
  &::before {
    left: $left;
  }
  &::after {
    right: $right;
  }
}

@mixin level3-heading {
  display: inline-block;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #494949; /*文字色*/
  background: transparent; /*背景透明に*/
  border-left: solid 5px #46c9e5; /*左線*/
  padding: 0.4rem 1.3rem 0.4rem;
}

@mixin level4-heading {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 50px;
    height: 4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #46c9e5;
  }
}

// button
@mixin btn {
  display: inline-block;
  background-color: #8ddce7;
  width: 220px;
  height: 60px;
  border-radius: 8px;
  line-height: 60px;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-family: "Hiragino Sans CNS", "Hiragino Sans", "游ゴシック体";
  color: #fff;
  cursor: pointer;

  @media screen and (max-width: 1024px) {
    width: 180px;
  }

  &:hover {
    background-color: #46c9e5;
  }
}

// card
@mixin card($width, $height) {
  max-width: $width;
  height: $height;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  text-align: center;
}
